body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

img{
  display: block;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}
/*загальні стилі*/ 
.container{
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*header styles*/
.page-header{
  border-bottom: 1px solid #e7e9fc;
}

.header-container{
  display: flex;
  align-items: center;
}

.header-nav{
  display: flex;
  align-items: center; 
}

.nav-list{
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-list{
  gap: 40px;
  display: flex;
  align-items: center;  
}

.header-logo{
  padding: 24px 0;
  margin-right: 76px;
}


.logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4b5ae5;
}

.header-logo .logo-part{
  color: #2e2f42;
}

.footer-logo .logo-part{
  color: #f4f4fd;
}

.nav-link{
display: block;
padding: 24px 0;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.contacts{
  font-style: normal;
  margin-left: auto;
}

.contacts-link{
display: block;
padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.nav-link:hover,
.nav-link:focus, 
.contacts-link:hover,
.contacts-link:focus{
  color: #404bbf;
}

.team-title{
  max-width: 496px;
  margin: 0 auto 48px;
  text-align: center;
}

h1{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.main-banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-banner{
background-color: #2e2f42;
padding: 188px 0;
}

.main-title{
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}

.main-button{
display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color:#4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}

button:hover,
button:focus {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #404bbf;
}

.benefits-section{
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefit-list{
  display: flex;
  gap: 24px;
}

.benefit-item{
  flex-basis: calc((100% - 72px) / 4);
}

.benefit-title{
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
color: #2e2f42;
}

.benefit-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.benefit-heading{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}



/*проверить без font-weight: 700;*/
.team-title{
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
  

.team-list{
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-card{
  background-color: #FFFFFF;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.team-info{
  padding: 32px 0;
}

.team-section {
  background-color: #F4F4FD;
  padding: 120px 0;
  }

.team-heading{
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/*без font-weight: 400;*/
.team-text{
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-section {
  padding: 120px 0;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-subtitle{
  text-align: left;
  margin-bottom: 8px;
}

.portfolio-text {
  text-align: left;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-card {
  text-align: left;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}


.footer-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}